In [18]:
from sklearn.decomposition import FastICA
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.impute import SimpleImputer

In [19]:
data = pd.read_csv('survey_Data.csv')
data.head()

,1977,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,1978,...,Unnamed: 25,Unnamed: 26,1980,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,record_id,month,day,year,plot,species,sex,wgt,NaN,record_id,...,wgt,NaN,record_id,month,day,year,plot,species,sex,wgt
1,1,7,16,1977,2,NaN,M,NaN,NaN,504,...,37,NaN,2271,1,15,1980,8,DO,M,53
2,2,7,16,1977,3,NaN,M,NaN,NaN,505,...,128,NaN,2272,1,15,1980,11,PF,F,10
3,3,7,16,1977,2,DM,F,NaN,NaN,506,...,42,NaN,2273,1,15,1980,18,DM,F,33
4,4,7,16,1977,7,DM,M,NaN,NaN,507,...,37,NaN,2274,1,15,1980,11,DM,M,37

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 35 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   1977         504 non-null    object
 1   Unnamed: 1   504 non-null    object
 2   Unnamed: 2   504 non-null    object
 3   Unnamed: 3   504 non-null    object
 4   Unnamed: 4   504 non-null    object
 5   Unnamed: 5   457 non-null    object
 6   Unnamed: 6   419 non-null    object
 7   Unnamed: 7   267 non-null    object
 8   Unnamed: 8   0 non-null      float64
 9   1978         1049 non-null   object
 10  Unnamed: 10  1049 non-null   object
 11  Unnamed: 11  1049 non-null   object
 12  Unnamed: 12  1049 non-null   object
 13  Unnamed: 13  1049 non-null   object
 14  Unnamed: 14  945 non-null    object
 15  Unnamed: 15  937 non-null    object
 16  Unnamed: 16  869 non-null    object
 17  Unnamed: 17  0 non-null      float64
 18  1979         720 non-null    object
 19  Unnamed: 19  720 non-null    object
 20  Unnamed: 20  720 non-null    object
 21  Unnamed: 21  720 non-null    object
 22  Unnamed: 22  720 non-null    object
 23  Unnamed: 23  629 non-null    object
 24  Unnamed: 24  652 non-null    object
 25  Unnamed: 25  639 non-null    object
 26  Unnamed: 26  0 non-null      float64
 27  1980         1416 non-null   object
 28  Unnamed: 28  1416 non-null   object
 29  Unnamed: 29  1416 non-null   object
 30  Unnamed: 30  1416 non-null   object
 31  Unnamed: 31  1416 non-null   object
 32  Unnamed: 32  1319 non-null   object
 33  Unnamed: 33  1333 non-null   object
 34  Unnamed: 34  1318 non-null   object
dtypes: float64(3), object(32)
memory usage: 387.3+ KB

In [21]:
data.columns = [f'Column_{i}' if 'Unnamed' in col else col for i, col in enumerate(data.columns)]

In [22]:
print("Updated Columns:")
print(data.columns)

Updated Columns:
Index(['1977', 'Column_1', 'Column_2', 'Column_3', 'Column_4', 'Column_5',
       'Column_6', 'Column_7', 'Column_8', '1978', 'Column_10', 'Column_11',
       'Column_12', 'Column_13', 'Column_14', 'Column_15', 'Column_16',
       'Column_17', '1979', 'Column_19', 'Column_20', 'Column_21', 'Column_22',
       'Column_23', 'Column_24', 'Column_25', 'Column_26', '1980', 'Column_28',
       'Column_29', 'Column_30', 'Column_31', 'Column_32', 'Column_33',
       'Column_34'],
      dtype='object')

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 35 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1977       504 non-null    object
 1   Column_1   504 non-null    object
 2   Column_2   504 non-null    object
 3   Column_3   504 non-null    object
 4   Column_4   504 non-null    object
 5   Column_5   457 non-null    object
 6   Column_6   419 non-null    object
 7   Column_7   267 non-null    object
 8   Column_8   0 non-null      float64
 9   1978       1049 non-null   object
 10  Column_10  1049 non-null   object
 11  Column_11  1049 non-null   object
 12  Column_12  1049 non-null   object
 13  Column_13  1049 non-null   object
 14  Column_14  945 non-null    object
 15  Column_15  937 non-null    object
 16  Column_16  869 non-null    object
 17  Column_17  0 non-null      float64
 18  1979       720 non-null    object
 19  Column_19  720 non-null    object
 20  Column_20  720 non-null    object
 21  Column_21  720 non-null    object
 22  Column_22  720 non-null    object
 23  Column_23  629 non-null    object
 24  Column_24  652 non-null    object
 25  Column_25  639 non-null    object
 26  Column_26  0 non-null      float64
 27  1980       1416 non-null   object
 28  Column_28  1416 non-null   object
 29  Column_29  1416 non-null   object
 30  Column_30  1416 non-null   object
 31  Column_31  1416 non-null   object
 32  Column_32  1319 non-null   object
 33  Column_33  1333 non-null   object
 34  Column_34  1318 non-null   object
dtypes: float64(3), object(32)
memory usage: 387.3+ KB

In [33]:
data = pd.DataFrame({
    'record_id': ['Column1', 'Column2', 'Column3', 'Column4', 'Column5'],
    'feature1': [1, 2, 3, 4, 5],
    'feature2': [6, 7, 8, None, 9],
    'feature3': [10, 11, 12, 13, 14],
    'feature4': [15, 16, 17, None, 19],
    'feature5': [20, 21, 22, 23, 24],
    'feature6': [25, 26, None, 28, 29],
    'feature7': [30, 31, 32, 33, 34]
})

In [34]:
print('Original Data:')
print(data)

Original Data:
  record_id  feature1  feature2  feature3  feature4  feature5  feature6  \
0   Column1         1       6.0        10      15.0        20      25.0
1   Column2         2       7.0        11      16.0        21      26.0
2   Column3         3       8.0        12      17.0        22       NaN
3   Column4         4       NaN        13       NaN        23      28.0
4   Column5         5       9.0        14      19.0        24      29.0

   feature7
0        30
1        31
2        32
3        33
4        34

In [35]:
numeric_data = data.drop(columns=['record_id'])
print('\nNumeric Data:')
print(numeric_data)

Numeric Data:
   feature1  feature2  feature3  feature4  feature5  feature6  feature7
0         1       6.0        10      15.0        20      25.0        30
1         2       7.0        11      16.0        21      26.0        31
2         3       8.0        12      17.0        22       NaN        32
3         4       NaN        13       NaN        23      28.0        33
4         5       9.0        14      19.0        24      29.0        34

In [36]:
imputer = SimpleImputer(strategy='mean')
numeric_data_imputed = imputer.fit_transform(numeric_data)
print('\nNumeric Data after Imputation:')
print(pd.DataFrame(numeric_data_imputed, columns=numeric_data.columns))

Numeric Data after Imputation:
   feature1  feature2  feature3  feature4  feature5  feature6  feature7
0       1.0       6.0      10.0     15.00      20.0      25.0      30.0
1       2.0       7.0      11.0     16.00      21.0      26.0      31.0
2       3.0       8.0      12.0     17.00      22.0      27.0      32.0
3       4.0       7.5      13.0     16.75      23.0      28.0      33.0
4       5.0       9.0      14.0     19.00      24.0      29.0      34.0

In [37]:
ICA = FastICA(n_components=2)

In [38]:
IndependentComp_values = ICA.fit_transform(numeric_data_imputed)

C:\Users\VIZECH\anaconda3\Lib\site-packages\sklearn\decomposition\_fastica.py:542: FutureWarning: Starting in v1.3, whiten='unit-variance' will be used by default.
  warnings.warn(
C:\Users\VIZECH\anaconda3\Lib\site-packages\sklearn\decomposition\_fastica.py:123: ConvergenceWarning: FastICA did not converge. Consider increasing tolerance or the maximum number of iterations.
  warnings.warn(

In [39]:
print('\n## Final Independent Components ##')
reducedata = pd.DataFrame(data=IndependentComp_values, columns=['IC1', 'IC2'])
print(reducedata.head(10))

## Final Independent Components ##
        IC1       IC2
0  0.609014  0.194610
1  0.218640  0.270663
2 -0.171733  0.346716
3  0.082339 -0.874500
4 -0.738259  0.062512