# Groupby()

In [3]:
import pandas as pd

world_cup = {
    'Team': ['West Indies', 'West Indies', 'India', 'Australia', 'Pakistan', 'Sri Lanka', 
             'Australia', 'Australia', 'Australia', 'India', 'Australia'],
    'Rank': [7, 7, 2, 1, 6, 4, 1, 1, 1, 2, 1],
    'Year': [1975, 1979, 1983, 1987, 1992, 1996, 1999, 2003, 2007, 2011, 2015]
}

df = pd.DataFrame(world_cup)

# Display the groups formed by 'Team' and 'Rank'
print(df.groupby(['Team', 'Rank']).groups)

{('Australia', 1): [3, 6, 7, 8, 10], ('India', 2): [2, 9], ('Pakistan', 6): [4], ('Sri Lanka', 4): [5], ('West Indies', 7): [0, 1]}

# Concatenation

In [5]:
import pandas as pd

# Define data for World Champions
world_Champions = {
    'Team': ['India', 'Australia', 'West Indies', 'Pakistan', 'Sri Lanka'],
    'World_Champions_Year': [2011, 2015, 1979, 1992, 1996],
    'Points': [874, 787, 753, 673, 855]
}

# Define data for Chokers
chokers = {
    'Team': ['South Africa', 'New Zealand', 'Zimbabwe'],
    'ICC_rank': [1, 5, 9],
    'Points': [895, 764, 656]
}

# Create DataFrames
df1 = pd.DataFrame(world_Champions)
df2 = pd.DataFrame(chokers)

# Concatenate the two DataFrames along columns
result = pd.concat([df1, df2], axis=1)

# Print the concatenated DataFrame
print(result)

          Team  World_Champions_Year  Points          Team  ICC_rank  Points
0        India                  2011     874  South Africa       1.0   895.0
1    Australia                  2015     787   New Zealand       5.0   764.0
2  West Indies                  1979     753      Zimbabwe       9.0   656.0
3     Pakistan                  1992     673           NaN       NaN     NaN
4    Sri Lanka                  1996     855           NaN       NaN     NaN

# Merging

In [11]:
import pandas as pd

# Define data for World Champions
Champions_stats = {
    'Team': ['India', 'Australia', 'West Indies', 'pakistan', 'Sri Lanka'],
    'ICC_rank': [2, 3, 7, 8, 4],
    'World_Champions_Year': [2011, 2015, 1979, 1992, 1996],
    'Points': [874, 787, 753, 673, 855]
}

# Define data for match stats
match_stats = {
    'Team': ['India', 'Australia', 'West Indies', 'pakistan', 'Sri Lanka'],
    'world_cup_played': [11, 10, 11, 9, 8],
    'ODIs_played': [733, 988, 712, 679, 662]
}

# Create DataFrames
df1 = pd.DataFrame(Champions_stats)
df2 = pd.DataFrame(match_stats)

# Merge the two DataFrames on the 'Team' column
result = pd.merge(df1, df2, on='Team')

# Print the merged DataFrame
print(result)

          Team  ICC_rank  World_Champions_Year  Points  world_cup_played  \
0        India         2                  2011     874                11
1    Australia         3                  2015     787                10
2  West Indies         7                  1979     753                11
3     pakistan         8                  1992     673                 9
4    Sri Lanka         4                  1996     855                 8

   ODIs_played
0          733
1          988
2          712
3          679
4          662